- page_title 'Two-Factor Authentication', 'Account'
- header_title "Two-Factor Authentication", profile_two_factor_auth_path

.row.prepend-top-default
  .col-lg-3
    %h4.prepend-top-0
      Register Google Authenticator
    %p
      Use an app on your mobile device to add the second factor of authentication.
  .col-lg-9
    - if current_user.two_factor_otp_enabled?
      = fa_stacked_icon "check inverse", base: "circle", class: "fa text-success", text: t('views.two_factor_auths.new.already_enabled_otp')
    - else
      %p
        Download the Google Authenticator application from App Store for iOS or Google Play for Android and scan this code.
        More information is available in the #{link_to('documentation', help_page_path('profile', 'two_factor_authentication'))}.
      .row.append-bottom-10
        .col-md-3
          = raw @qr_code
        .col-md-9
          .account-well
            %p.prepend-top-0.append-bottom-0
              Can't scan the code?
            %p.prepend-top-0.append-bottom-0
              To add the entry manually, provide the following details to the application on your phone.
            %p.prepend-top-0.append-bottom-0
              Account:
              = current_user.email
            %p.prepend-top-0.append-bottom-0
              Key:
              = current_user.otp_secret.scan(/.{4}/).join(' ')
            %p.two-factor-new-manual-content
              Time based: Yes
      = form_tag profile_two_factor_auth_path, method: :post do |f|
        - if @error
          .alert.alert-danger
            = @error
        .form-group
          = label_tag :pin_code, nil, class: "label-light"
          = text_field_tag :pin_code, nil, class: "form-control", required: true
        .prepend-top-default
          = submit_tag 'Register Google Authenticator', class: 'btn btn-success'

%hr

.row.prepend-top-default

  .col-lg-3
    %h4.prepend-top-0
      Register U2F Device
    %p
      Use a hardware device to add the second factor of authentication.
    %p
      U2F devices are currently supported only by Google Chrome; we recommend that you set up Google Authenticator
      in addition to a U2F device, if you ever need to log in using a different browser.
  .col-lg-9
    %p
      - if @registrations.present?
        = fa_stacked_icon "check inverse", base: "circle", class: "fa text-success", text: "You have #{pluralize(@registrations.count, 'U2F device')} registered with GitLab."
    - if @u2f_error
      .alert.alert-danger
        = @u2f_error
    = react_component('U2FRegister', appId: @app_id, registerRequests: @registration_requests,
                      authenticity_token: form_authenticity_token, signRequests: @sign_requests)

- if two_factor_skippable?
  :javascript
    var button = '<a class="btn btn-xs btn-warning pull-right" data-method="patch" href="/profile/two_factor_auth/skip">Configure it later</a>';
    $(".flash-alert").append(button);
